.footer{
  background-color: var(--color-lightBlack);
}
.footer__row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  padding-top: 32px;
  padding-bottom: 35px;
}
.footer__logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 22px;
}
.footer__logo span{
  color: var(--color-white);
  font-size: 16px;
}
.footer__agreements{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__agreements a{
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  display: block;
}
.footer__agreements a:hover{
  text-decoration: underline;
}

@media (max-width:768px){
  .footer__row{
    justify-content: center;
  }
}
@media (max-width:480px){
  .footer__agreements{
    flex-wrap: wrap;
    justify-content: center;
  }
}